@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family:  Roboto;
    
}
body{  
    
}

.fondo{
    background: linear-gradient(to bottom, #020024, #097952);
    height: 100vh;
}
footer{  
    position: fixed;
    bottom:0;
    width: 100%;
    background:#31B16F;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius:10px ;
    border-top-right-radius: 10px; 
}
footer div{   
    width:100%;  
}
ul{  
    display: flex;    
}
li{
    list-style: none;
    margin:auto;
    padding:5px;
    color:white;
    border:1px solid white;
    border-radius: 25%;
}
li a {
    color:white;
    font-size:25px
}
.titulo-principal{
    display: flex;
    justify-content: center;
    padding-top: 15%;
    
    
}
.titulo-principal h1 {
    color:white;
    text-align: center;
}
.datos .temperatura {
    margin-top: 15%;
    text-align:center;
    font-size:80px;
    color: white;
}


.botonbuscar{
    text-decoration: none;
}
.data-contenido{
    display: flex;
    width: 100vw;
}
.data-contenido div {
    margin:auto;
    margin-top: 25%;
    color:white;
    font-size:20px;
}
.data-contenido div {
    margin:auto;
    margin-top: 25%;
    color:white;
    font-size:20px;
}
.data-contenido div  i{
    display:block;
    text-align: center;
    margin:10px;
    font-size: 25px;
}
.data-contenido div  p{
    display:block;
    text-align: center;
    margin:10px;
    
}